{% extends 'All.html' %}
{% block body %}
        <!-- /header -->
        <!-- Content wrapper -->
        <div class="contents-wrapper">
            <!-- Contents starts here -->
            <div class="content">
                <h1>About us</h1>
                <p style="margin: 25px 0px;">Kalna Polytechnic is a Government Polytechnic Institution under the administrative control of Directorate of Technical Education and Training, Govt. of West Bengal. At present 3 Diploma courses viz., Civil Engineering, Electronics and Telecommuniocation Engineering and Computer Science and Technology are offered. This is situated in the District of Burdwan within the Kalna Sub-division area about 3 KM from Ambika-Kalna Railway station and at the northern fringe of The ancient heritage Temple town of Kalna. This Polytechnic was established in the year 2000 and the first admission took place in Civil Engineering and Electronics and Telecommuniocation Engineering at the diploma level in the year 2001. Other branch of Engineering like Computer Science and Technology was introduced in the year 2007 as the institute grew up in size and prospereity. See less</p>
            </div>
        </div>
    <!-- footer -->
{% endblock body %}
       