{% extends 'All.html' %}
{% block body %}
        <!-- /header -->
        <!-- Contents -->
        <div class="contents-wrapper">
            <!-- Contents starts here -->
            <div class="content">
                <h2 style="text-align:center">Finance Committee
                <br/><br/>
                </h2>
                <table class="table table-bordered table-responsive table-hover">
                    <thead>
                        <tr>
                            <th data-field="id">S. No.</th>
                            <th data-field="name">Name</th>
                            <th data-field="designation">Designation</th>
                        </tr>
                    </thead>
                    <tr>
                        <td>1</td>
                        <td>Prof T. Harinarayan</td>
                        <td>Chairman, GERMI</td>
                    </tr>
                    <tr>
                        <td>2</td>
                        <td>Prof R. Nagaraj</td>
                        <td>Director, DA-IICT</td>
                    </tr>
                    <tr>
                        <td>3</td>
                        <td>Shri S. K. Bajpai</td>
                        <td>DGM Finance, GSFC</td>
                    </tr>
                    <tr>
                        <td>4</td>
                        <td>Shri C. P. Joglekar</td>
                        <td>Registrar, IIIT-Vadodara</td>
                    </tr>
                    <tr>
                        <td>5</td>
                        <td>Shri Anomitra Das</td>
                        <td>Representative, TCS</td>
                    </tr>
                    <tr>
                        <td>6</td>
                        <td>Shri P. R. Dave</td>
                        <td>Jt. Director, DTE</td>
                    </tr>
                    <tr>
                        <td>7</td>
                        <td></td>
                        <td>Representative of Government of India</td>
                    </tr>
                </table>
            </div>
        </div>
        <!-- Footer -->
        {% endblock body %}