{% extends 'All.html' %}
        {% block body %}
        <!-- carousel -->
        <div class="carousel-wrapper">
            <div class="carousel" style="margin: 0 auto">
                <div class="carousel-items">
                    <img width="600px" height="400px" src="{{ url_for ('static',filename = 'download (2).jpg') }}" alt="college">
                    <div></div>
                </div>
                <div class="carousel-items">
                    <img width="600px" height="400px" src="{{ url_for ('static',filename = 'kalna polytechnic.jpg') }}" alt="college">
                    <div></div>
                </div>
                <div class="carousel-items">
                    <img height="400px" src="{{ url_for ('static',filename = 'log.jpg') }}" alt="log" />
                    <div></div>
                </div>
                <div class="carousel-items">
                    <img width="550px" height="400px" src="{{ url_for ('static',filename = 'img--1.jpg') }}" alt="Students" />
                    <div></div>
                </div>
                <div class="carousel-items">
                    <img width="600px" height="400px" src="{{ url_for ('static',filename = 'download (1).jpg') }}" alt="Talk" />
                    <div></div>
                </div>
                <div class="carousel-items">
                    <img width="600px" height="400x" src="{{ url_for ('static',filename = 'princple.jpg') }}" alt="Winners" />
                    <div></div>
                </div>
            </div>
        </div>

        <!-- Announcements, Events, News -->
        <div class="widgets-wrapper">
            <div class="widgets-container">
                <!-- Edit this section for important announcements.-->
                <div class="alert alert-warning text-center">
                    For admissions to KALNA POLYTECHNIC Thorugh
                    <a class="alert-link" href="https://exam.webscte.co.in/JEXPO-VOCLET">JEXPO and VOCLATE programs -
                        Academic Year 2023-24</a>
                </div>

                <!-- Announcements -->
                <div class="col-sm-4" id="announcements">
                    <div class="announcement-content">
                        <div class="widgets-title">
                            <h3>WBSCTE Announcements</h3>
                        </div>
                        <ul id="announcement-list">
                            <li>
                                For admissions to diploma by 
                                <b>JEXPO and VOCLATE programs</b> visit:<br /><a
                                    href="https://exam.webscte.co.in/JEXPO-VOCLET" target="_blank">
                                    Online Application Portal</a>
                            </li>
                            <li>
                                Application for Refund of Provisional Seat Booking Fee for the students who admitted through JEXPO-2021, JEXPO-2022, VOCLET-2021, VOCLET-2022 and PHARMACY-2021
                                &nbsp; &nbsp;
                                <span style="font-size: 12px; font-weight: bold; color: Black"><a
                                        href="https://exam.webscte.co.in/refund-upgradation-fee">Application for Refund of Provisional Seat Booking Fee</a></span>
                            </li>
                            <li>
                                VERIFICATION RESULT OF DIPLOMA IN ENGINEERING & TECHNOLOGY (2ND & 4TH SEMESTERS) HELD IN NOVEMBER, 2022
                                <a href="https://exam.webscte.co.in/studentverification/check-Result"
                                    target="_blank">Checkout for VERIFICATION </a>
                                </a>
                            </li>
                        </ul>
                        <div id="announcement-list-pagination">
                            <a id="announcement-list-previous" href="#">
                                <span><i class="fa fa-chevron-left" aria-hidden="true"></i></span>
                            </a>
                            <a id="announcement-list-next" href="#">
                                <span><i class="fa fa-chevron-right" aria-hidden="true"></i></span>
                            </a>
                        </div>
                    </div>
                </div>

                <!-- Events -->
                <div class="col-sm-4" id="events">
                    <div class="events-content">
                        <div class="widgets-title">
                            <h2>Events</h2>
                        </div>
                        <ul id="events-list">
                            <li>
                                <!-- Events -->
                                <div class="event-container">
                                    <!-- Date -->
                                    <div class="date">
                                        <span>
                                            <!-- Day -->
                                            <div class="day">16</div>
                                            <!-- Month Short Form (first three letters) -->
                                            <div class="month">Jan</div>
                                        </span>
                                    </div>
                                    <!-- Event-Description -->
                                    <div class="event-text">Sawasati puja</div>
                                </div>
                            </li>
                            <li>
                                <div class="event-container">
                                    <!-- Date -->
                                    <div class="date">
                                        <span>
                                            <!-- Day -->
                                            <div class="day">18</div>
                                            <!-- Month Short Form (first three letters) -->
                                            <div class="month">Sep</div>
                                        </span>
                                    </div>
                                    <!-- Event-Description -->
                                    <div class="event-text">BC-corma</div>
                                </div>
                            </li>
                            <li>
                                <div class="event-container">
                                    <!-- Date -->
                                    <div class="date">
                                        <span>
                                            <!-- Day -->
                                            <div class="day">5</div>
                                            <!-- Month Short Form (first three letters) -->
                                            <div class="month">Mar</div>
                                        </span>
                                    </div>
                                    <!-- Event-Description -->
                                    <div class="event-text">Sports Festival Ventura 2016</div>
                                </div>
                            </li>
                            <li>
                                <div class="event-container">
                                    <!-- Date -->
                                    <div class="date">
                                        <span>
                                            <!-- Day -->
                                            <div class="day">26</div>
                                            <!-- Month Short Form (first three letters) -->
                                            <div class="month">Jan</div>
                                        </span>
                                    </div>
                                    <!-- Event-Description -->
                                    <div class="event-text">Republic Day</div>
                                </div>
                            </li>
                            <li>
                                <div class="event-container">
                                    <!-- Date -->
                                    <div class="date">
                                        <span>
                                            <!-- Day -->
                                            <div class="day">14</div>
                                            <!-- Month Short Form (first three letters) -->
                                            <div class="month">Jan</div>
                                        </span>
                                    </div>
                                    <!-- Event-Description -->
                                    <div class="event-text">Nabhyaan: A festival of kite</div>
                                </div>
                            </li>
                        </ul>
                        <div id="events-list-pagination">
                            <a id="events-list-previous" href="#">
                                <span><i class="fa fa-chevron-left" aria-hidden="true"></i></span>
                            </a>
                            <a id="events-list-next" href="#">
                                <span><i class="fa fa-chevron-right" aria-hidden="true"></i></span>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4" id="news">
                    <div class="news-content">
                        <div class="widgets-title">
                            <h2>News</h2>
                        </div>
                        <ul id="news-list">
                            <li>
                                A student from ETC depertment was captchered with smart phone due to 3rd sem semester exam
                            </li>
                        </ul>
                        <div id="news-list-pagination">
                            <a id="news-list-previous" href="#">
                                <span><i class="fa fa-chevron-left" aria-hidden="true"></i></span>
                            </a>
                            <a id="news-list-next" href="#">
                                <span><i class="fa fa-chevron-right" aria-hidden="true"></i></span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <script src="//code.tidio.co/2bdobyictggzuaq4y4gjo4mk7gbtvhqb.js" async></script>
        {% endblock body %}