{% extends 'All.html' %}
{% block body %}
    <!-- Content wrapper -->
    <div class="contents-wrapper">
        <!-- Contents starts here -->
        <div class="content">
            <h1>Library</h1>
            <br/><br/>
            <p>
                The primary aim of IIIT Vadodara Library is to support research, teaching and learning of the institute
                community. The Library is one of the central support services of IIIT Vadodara. The mission of the
                Library is to provide information services and access to full text digital and printed resources to
                support the scholarly and informational needs of faculty, students and staff. The Library is in fast
                growing stage. It was started in December 2015 with approximately 350 books. In March 2016 Library
                subscribed online <a href="http://dl.acm.org/">ACM Digital library</a> database. During this short span
                of time, the library has acquired a good number of books and electronic resources. The library has a good
                collection of books on Computer Science, Information Technology, Physics, Mathematics, Humanities &
                Social Sciences and also technical and general print magazines. The collection includes reference books,
                text books, CDs etc. We are constantly in a process of increasing our collection of books further.
            </p>
            <p>
                Students must follow the rules and regulations mentioned in the
                <a href="pdf/library-circulation.pdf">Library
                    Circulation Policy</a>.
            </p>
        </div>
    </div>
    {% endblock body %}